@tailwind base;
@tailwind components;
@tailwind utilities;

htm {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.custom-img {
        background-image: url('/images/rick-2.webp')
  }

  button {
    --tw-bg-opacity: 1;
    background-color: rgb(132 204 22 / var(--tw-bg-opacity));    
    border: 1px solid rgb(132 204 22 / 1);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    margin-right: 5px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;    
  }

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(132 204 22 / 1);
}

button:active {
  opacity: .5;
}

.icon-green {
  margin: auto 0;
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.375rem;
	background: rgb(21, 228, 21);
	border-radius: 50%;
}

.icon-red {
  margin: auto 0;
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.375rem;
	background: rgb(233, 7, 7);
	border-radius: 50%;
}

.icon-yellow {
  margin: auto 0;
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.375rem;
	background: rgb(255, 255, 2);
	border-radius: 50%;
}

.icon-gray {
  margin: auto 0;
	height: 0.5rem;
	width: 0.5rem;
	margin-right: 0.375rem;
	background: rgb(151, 150, 150);
	border-radius: 50%;
}
